{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% block content %}
<section id="chat" class="my-3">
    <h3 class="text-center"> <a id="backBtn" href="#" class="btn btn-outline-danger me-3"><i class="bi bi-arrow-left"></i></a> Chat with {{opponent.username}} </h3>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <hr>
                <div class="card card-body bg-light" style="height: 65vh;overflow: auto;" id="chatStore"></div>
                <form id="sendMsgForm">
                    <div class="d-flex justify-content-between mt-2">
                        <input type="text" class="form-control me-2" placeholder="Enter text..." id="msgBody" autofocus  autocomplete="off">
                        <button type="button" class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#steganographyEncryptImageSendModal"><i class="bi bi-file-earmark-zip"></i></button>
                        <button type="button" class="btn btn-info mx-1" data-bs-toggle="modal" data-bs-target="#imageSendModal"><i class="bi bi-image-fill"></i></button>
                        <button type="submit" class="btn btn-success"><i class="bi bi-send"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Normal Image send Modal -->
<div class="modal fade" id="imageSendModal" tabindex="-1" aria-labelledby="imageSendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageSendModalLabel">Send Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <input type="file" id="imageSendField" name="image" class="form-control" accept=".png">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="imageSendBtn" data-bs-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Steganography Encrypt send Modal -->
<div class="modal fade" id="steganographyEncryptImageSendModal" tabindex="-1" aria-labelledby="steganographyEncryptImageSendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="steganogrpahyEncryptImageSendModalLabel">Send Steganography Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: 40vh;">
        <div class="form-group my-2">
            <input type="file" id="steganographyEncryptImageSendField" name="image" class="form-control" accept=".png">
        </div>
        <div class="form-group mt-2">
            <input type="text" name="text" id="steganographyEncryptTextField" class="form-control" placeholder="secret text..." autocomplete="off">
        </div>
        <div class="loader" style="display: none;" id="encryptLoading">Loading...</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" id="encryptModelCloseBtn">Close</button>
        <button type="button" class="btn btn-primary" id="steganographyEncryptImageSendBtn">Encrypt & Send</button>
      </div>
    </div>
  </div>
</div>

<!-- Steganography Decrypt send Modal -->
<div class="modal fade" id="steganographyDecryptImageSendModal" tabindex="-1" aria-labelledby="steganographyDecryptImageSendModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="steganogrpahyDecryptImageSendModalLabel">Decrypt Steganography Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height:30vh">
        <div class="input-group mb-3" id="decryptTextGroup">
            <span class="input-group-text" id="basic-addon1">Secret Text</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="decryptTextField" readonly>
        </div>
        <div class="loader" style="display: none;" id="decryptLoading">Loading...</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{user.id|json_script:"me"}}
{{opponent.id|json_script:"opponent"}}
{% endblock %}
{% block js %}
<script>
    // back button 
    document.getElementById('backBtn').addEventListener('click', () => {
        history.back()
    })

    // User ids
    const myUserId = parseInt(JSON.parse(document.getElementById('me').textContent))
    const opponentUserId = parseInt(JSON.parse(document.getElementById('opponent').textContent))

    // functions
    const notificationSound = () => {
        let audio = new Audio('/static/sounds/chat.mp3')
        audio.play()
    }
    const displayMyMessage = (message) => {
        if(message.message && message.message !== ''){
            let msg = document.createElement('div') 
            msg.classList.add('d-flex')
            msg.classList.add('justify-content-end')
            msg.classList.add('my-1')
            let msgButton = document.createElement('button')
            msgButton.classList.add('btn')
            msgButton.classList.add('btn-sm')
            msgButton.classList.add('btn-success')
            msgButton.textContent = message.message
            msg.append(msgButton)
            return msg
        }else if(message.fileURL && message.fileURL !== ''){
            let row = document.createElement('div')            
            row.classList.add('row')
            row.classList.add('my-1')
            let col = document.createElement('div')
            col.classList.add('col-md-6')
            col.classList.add('col-sm-12')
            col.classList.add('ms-auto')
            let card = document.createElement('div')
            card.classList.add('card')
            card.classList.add('card-body')
            card.classList.add('bg-success')
            let img = document.createElement('img')
            img.src = message.fileURL;
            img.alt = "your image"
            img.classList.add('img-fluid')
            card.append(img)
            // If it is an steganogrpahic image then add a decrypt button in footer
            if(message.steganographyImage){
                let decryptBtn = document.createElement('button')
                decryptBtn.classList.add('btn')
                decryptBtn.classList.add('btn-light')
                decryptBtn.classList.add('mt-1')
                decryptBtn.onclick = (e) => decryptImage(e)
                decryptBtn.textContent = 'Decrypt Text'
                decryptBtn.dataset.bsToggle = "modal"
                decryptBtn.dataset.bsTarget = "#steganographyDecryptImageSendModal"
                decryptBtn.dataset.fileURL = message.fileURL
                card.append(decryptBtn)
            }
            col.append(card)
            row.append(col)
            return row
        }
    }

    const displayOpponentMessage = (message) => {
        if(message.message && message.message !== ''){
            let msg = document.createElement('div') 
            msg.classList.add('d-flex')
            msg.classList.add('justify-content-start')
            msg.classList.add('my-1')
            let msgButton = document.createElement('button')
            msgButton.classList.add('btn')
            msgButton.classList.add('btn-sm')
            msgButton.classList.add('btn-info')
            msgButton.textContent = message.message
            msg.append(msgButton)
            return msg
        }else if(message.fileURL && message.fileURL !== ''){
            let row = document.createElement('div')            
            row.classList.add('row')
            row.classList.add('my-1')
            let col = document.createElement('div')
            col.classList.add('col-md-6')
            col.classList.add('col-sm-12')
            col.classList.add('me-auto')
            let card = document.createElement('div')
            card.classList.add('card')
            card.classList.add('card-body')
            card.classList.add('bg-info')
            let img = document.createElement('img')
            img.src = message.fileURL;
            img.alt = "opponent image"
            img.classList.add('img-fluid')
            card.append(img)
            // If it is an steganogrpahic image then add a decrypt button in footer
            if(message.steganographyImage){
                let decryptBtn = document.createElement('button')
                decryptBtn.classList.add('btn')
                decryptBtn.classList.add('btn-light')
                decryptBtn.classList.add('mt-1')
                decryptBtn.onclick = (e) => decryptImage(e)
                decryptBtn.textContent = 'Decrypt Text'
                decryptBtn.dataset.bsToggle = "modal"
                decryptBtn.dataset.bsTarget = "#steganographyDecryptImageSendModal"
                decryptBtn.dataset.fileURL = message.fileURL
                card.append(decryptBtn)
            }
            col.append(card)
            row.append(col)
            return row
        }
    }

    const displayMessage = (message) => {
        let chatElement
        if(message.sender === myUserId){
            chatElement = displayMyMessage(message)
        }else{
            chatElement = displayOpponentMessage(message)
        }
        document.getElementById('chatStore').append(chatElement)
    }

    const displayMessages = (messages) => {
        messages.forEach(message => {
            displayMessage(message)
        })
    }

    // websocket
    const ws_scheme = location.protocol === 'https:'? 'wss': 'ws'

    let chatPath;
    if(myUserId > opponentUserId){
        chatPath = `${opponentUserId}/${myUserId}/`
    }else {
        chatPath = `${myUserId}/${opponentUserId}/`
    } 
    const client = new WebSocket(`${ws_scheme}://${location.host}/ws/chat/${chatPath}`)

    client.onopen = (e) => {
        console.log("Websocket Connected")

        // fetch messages
        client.send(JSON.stringify({
            type: 'fetch_messages'
        }))
    }

    client.onmessage = (e) => {
        const data = JSON.parse(e.data);
        // console.log(data)
        if(data['type'] === 'fetch_messages'){
            displayMessages(data['messages'])
        }else if(data['type'] === 'send_message'){
            displayMessage(data['message'])
            if(data['message'].sender === opponentUserId){
               notificationSound() 
            }
        }
        
        // scrolling to bottom
        let chatStore = document.getElementById('chatStore')
        chatStore.scrollTop = chatStore.scrollHeight
    }

    client.onerror = (e) => {
        console.error("Websocket Closed")
    }
    
    client.onclose = (e) => {
        console.error("Websocket Closed")
    }

    // message sending
    // Normal Text
    document.getElementById('sendMsgForm').addEventListener('submit', (e) => {
        e.preventDefault()
        let message = document.getElementById('msgBody').value
        if (message === '') return;
        client.send(JSON.stringify({
            type: 'send_message',
            message,
            fileURL: null
        }))
        document.getElementById('msgBody').value = ""
    })

    // normal image sending
    document.getElementById('imageSendBtn').addEventListener('click', async() => {
        let formData = new FormData()
        formData.append('csrfmiddlewaretoken', "{{csrf_token}}")
        let image = document.getElementById('imageSendField').files[0];
        formData.append('image', image)

        let res = await fetch('/upload-image/', {
            method: 'post',
            body: formData
        })
        let data = await res.json()
        document.getElementById('imageSendField').value = "";

        // send
        if(data['success'] === true){
            let fileURL = data['fileURL'];
            client.send(JSON.stringify({
                type: 'send_message',
                message: null,
                fileURL
            }))
        }
    })

    // steganography image sending [encryption]
    document.getElementById('steganographyEncryptImageSendBtn').addEventListener('click', async() => {
        let formData = new FormData()
        formData.append('csrfmiddlewaretoken', "{{csrf_token}}")
        let image = document.getElementById('steganographyEncryptImageSendField').files[0];
        let text = document.getElementById('steganographyEncryptTextField').value
        formData.append('image', image)
        formData.append('text', text)

        if (!image || text === '') return;

        let res = await fetch('/encrypt-image/', {
            method: 'post',
            body: formData
        })
        let data = await res.json()
        // console.log(data)
        
        
        document.getElementById('steganographyEncryptImageSendBtn').disabled = true
        document.getElementById('encryptLoading').style.display = 'block'

        setTimeout(() => {
            document.getElementById('steganographyEncryptImageSendBtn').disabled = false
            document.getElementById('encryptLoading').style.display = 'none'
            
            document.getElementById('steganographyEncryptImageSendField').value = "";
            document.getElementById('steganographyEncryptTextField').value = "";

            // model close
            document.getElementById('encryptModelCloseBtn').click()

            // send
            if(data['success'] === true){
                let fileURL = data['fileURL'];
                client.send(JSON.stringify({
                    type: 'send_message',
                    message: null,
                    fileURL,
                    steganographyImage: true
                }))
            }


        }, 2200)
    })

    // Decrypt button 
    const decryptImage = async(e) => {
        let imageURL = e.target.dataset.fileURL
        let formData = new FormData()
        formData.append('csrfmiddlewaretoken', "{{csrf_token}}")
        formData.append('image', imageURL)
        let res = await fetch('/decrypt-image/', {
            method: 'post',
            body: formData
        })
        let data = await res.json()
        // console.log(data)
        if(data['success'] === true){
            document.getElementById('decryptTextGroup').style.display = 'none'
            document.getElementById('decryptLoading').style.display = 'block'
            setTimeout(() => {
                document.getElementById('decryptLoading').style.display = 'none'
                document.getElementById('decryptTextGroup').style.display = 'flex'
                document.getElementById('decryptTextField').value = data['secretText']
            }, 2000)
        }
    }

</script>

{% endblock %}