{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"
      ><img
        src="{% static 'images/favicon.png' %}"
        alt="Logo"
        class="img-fluid"
        style="height: 40px"
    /> Steganography Chat Application</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#developers">Developers</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome, {{user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="btn btn-light" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light nav-link" href="{% url 'signup' %}">SignUp</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
